/App.class
/Engine.class
/FimDeJogoException.class
/HallEntrada.class
/SalaBlackHole.class
/SalaCofre.class
/SalaJogoDemo.class
/SalaPedras.class
/SalaSemNome.class
/SalaSaturno.class
/SalaMarte.class
/CelaSubterranea.class
/SalaGuardas.class
/Stage.class
/StageScene.class
